<!DOCTYPE html>
<html>
<head>
  <title>Sidekiq::JobMonitor</title>
  <%= stylesheet_link_tag    "sidekiq/job_monitor/application", media: "all" %>
  <%= javascript_include_tag "sidekiq/job_monitor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
